@model Model.Clientes
@{ 
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    ViewBag.TitleModal = "Editar Cliente ";
}

@using (Ajax.BeginForm("/Editar", null, new AjaxOptions { UpdateTargetId = "NuevoId" }, new { @id = "NuevoCliente" }))
{
    @Html.AntiForgeryToken()
    <div id="Cargando"></div>
    <div class="container-fluid">
        <div class="row">
            @Html.Hidden("IdCliente", Model.IdCliente)
            @Html.Hidden("UsuarioCreacion", Model.UsuarioCreacion)
            @Html.Hidden("FechaCreacion", Model.FechaCreacion)
            @Html.Hidden("IdUsuario", Model.IdUsuario)
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="tipoAfilacion">Tipo de Afiliación</label>
                    @Html.DropDownList("TipoAfilacion", new SelectList(ViewBag.TipoAfiliacion, "IdCatalogo", "Descripcion", Model.TipoAfilacion), "Seleccion un Tipo de Afiliacion", new { @id = "tipoAfilacion", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label>Precio Afiliacion</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">$</span>
                        <input class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label>Correo Patrocinador</label>
                    <input class="form-control" value="@Model.NumeroPatrocinador" name="CorreoPatrocinador" @if (!User.IsInRole("Admin")) { WriteLiteral("disabled"); } />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="numeroTelefonoAlarma">Teléfono Alarma</label>
                    <input type="text" maxlength="20" class="form-control phone_us" id="NumeroTelefonoAlarma" value="@Model.NumeroTelefonoAlarma" name="NumeroTelefonoAlarma" />
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="palabraClave">Palabra Clave</label>
                    <input type="text" maxlength="50" class="form-control" id="palabraClave" name="PalabraClave" value="@Model.PalabraClave" />
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="palabraClaveSilenciosa">Palabra Clave Silenciosa</label>
                    <input type="text" maxlength="50" class="form-control" id="palabraClaveSilenciosa" name="PalabraClaveSilenciosa" value="@Model.PalabraClaveSilenciosa" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">Numero de Cuenta</label>
                    @Html.TextBoxFor(model => model.NumeroDeCuenta, new { @class = "form-control" })                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <center><b>Información Personal</b></center><br />
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label">Nombre(s)</label>
                    <input class="col-sm-12 form-control" type="text" name="Nombres" required value="@Model.Nombres" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Apellido Paterno</label>
                    <input class="form-control" name="ApellidoPaterno" value="@Model.ApellidoPaterno" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Apellido Materno</label>
                    <input class="form-control" placeholder="Apellido Materno" name="ApellidoMaterno" value="@Model.ApellidoMaterno" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Fecha de Nacimiento</label>
                    <input class="form-control datepicker" type="text" name="FechaNacimiento" value="" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Lugar de Nacimiento</label>
                    <input class="form-control" name="LugarNacimiento" value="@Model.LugarNacimiento" />
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label>Correo Electronico</label>
                    <input class="form-control" name="Correo" pattern="^[a-z0-9._%+-]+@("@")[a-z0-9.-]+\.[a-z]{2,4}$" value="@Model.Email" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Telefono Casa</label>
                    <input class="form-control" name="TelefonoCasa" value="@Model.Telefono" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Telefono Trabajo</label>
                    <input class="form-control" name="TelefonoTrabajo" value="@Model.TelefonoTrabajo" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Telefono Celular</label>
                    <input class="form-control" name="TelefonoCelular" value="@Model.TelefonoCelular" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Sexo</label>
                    <select class="form-control" name="Sexo" required>
                        <option disabled selected>Selecione Una Opcion</option>
                        <option value="N/A">N/A</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Estado Civil</label>
                    <input class="form-control" name="EstadoCivil" value="@Model.EstadoCivil" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Profecion o Ocupacion</label>
                    <input class="form-control" name="Profecion" value="@Model.Profesion" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <center><b>Datos de Facturación</b></center><br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label("Calle")
                    @Html.TextBoxFor(model => model.Calle, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label("No. Exterior")
                    @Html.TextBoxFor(model => model.NoExterior, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label("No. Interior")
                    @Html.TextBoxFor(model => model.NoInterior, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Colonia</label>
                    @Html.TextBoxFor(model=>model.Colonia,new {@class="form-control" })
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Codigo Postal</label>
                    @Html.TextBoxFor(model => model.CodigoPostal, new { @class = "form-control" })                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    @Html.Label("Compañia", new { @class = "control-label" })
                    @Html.DropDownList("IdProveedor", new SelectList(ViewBag.PAC, "Id", "Nombre"), "Seleccione una Compañia", new { @class = "form-control", required = (string)null })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Pais</label>
                    @Html.DropDownList("Pais", new SelectList(ViewBag.Pais, "Pais1", "Pais1"), "Seleccione un pais", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Estado</label>
                    @Html.DropDownList("Estado", new SelectList(ViewBag.Estados, "NombreEstado", "NombreEstado"), "Selecciona una estado", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Ciudad</label>
                    @Html.DropDownList("Ciudad", new SelectList(ViewBag.Ciudad, "Ciudad1", "Ciudad1"), "Seleciona una ciudad", new { @class = "form-control" })
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <center><b>Datos Fiscales</b></center>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>CURP</label>
                    @Html.TextBoxFor(model => model.CURP, new { @class = "form-control" , @pattern = "^[A-Z]{1}[AEIOU]{1}[A-Z]{2}[0-9]{2}(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[HM]{1}(AS|BC|BS|CC|CS|CH|CL|CM|DF|DG|GT|GR|HG|JC|MC|MN|MS|NT|NL|OC|PL|QT|QR|SP|SL|SR|TC|TS|TL|VZ|YN|ZS|NE)[B-DF-HJ-NP-TV-Z]{3}[0-9A-Z]{1}[0-9]{1}$" })                    
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>RFC</label>
                    @Html.TextBoxFor(model => model.RFC, new { @class = "form-control" })                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Beneficiario</label>
                    @Html.TextBoxFor(model=>model.Beneficiario,new {@class="form-control" })                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Banco</label>
                    @Html.DropDownList("Banco", new SelectList(ViewBag.Bancos, "c_Banco", "Descripcion"), "Selecione un Banco", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>CLABE Interbancaria</label>
                    <input class="form-control" type="text" name="CLABE" value="@Model.NumeroCLABE" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Cuenta Bancaria</label>
                    <input class="form-control" type="text" name="CuentaBancaria" value="@Model.ClaveBancaria" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>NumCtaPago</label>
                    @Html.TextBoxFor(model=>model.NumCtaPago,new { @class="form-control"})                    
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-simple" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success btn-simple"><i class="material-icons">save</i> &nbsp;Guardar cambios</button>
    </div>
}
<script>
    $(document).ready(function () {
        $('[name=IdProveedor]').val('@Model.IdProveedor');
        $('[name=TipoAfilacion]').val('@Model.TipoAfilacion');
        $('[name=Banco]').val('@Model.Banco');
        $('[name=Ciudad]').val('@Model.Ciudad');
        $('[name=Estado]').val('@Model.Estado'); var Pais = '@Model.Pais'
        $('[name=Pais]').val(Pais.replace("&#233;", "é"));
        $('[name=Sexo]').val('@Model.Sexo');
        $('[name=NumeroDeCuenta]').val('@Model.NumeroDeCuenta');
        $('[name=NumeroTelefonoAlarma]').val('@Model.NumeroTelefonoAlarma');
        $("input[name=TelefonoCelular]").mask("(999) 999-9999");
        $("input[name=TelefonoTrabajo]").mask("(999) 999-9999");
        $("input[name=TelefonoCasa]").mask("(999) 999-9999");
        $("input[name=NumeroTelefonoAlarma]").mask("(999) 999-9999");
        $("#NumeroDeCuenta").mask("99999-999");
        $('.datepicker').datetimepicker({
            defaultDate: '@Model.FechaNacimiento.AsDateTime().Month/@Model.FechaNacimiento.AsDateTime().Day/@Model.FechaNacimiento.AsDateTime().Year',
            format: 'MM/DD/YYYY',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove',
                inline: false
            }
        });

    });
    $(function () {

        $('form').submit(function (event) {

            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    $("#myModal").modal('hide');
                    if (result.error == "none") {
                        var idCliente = $('#IdCliente').val();
                        var NumeroTelefonoAlarma = $('[name=NumeroTelefonoAlarma]').val();
                        var Telefono = $('[name=TelefonoCasa]').val();
                        var Nombre = $('[name=Nombres]').val() + ' ' + $('[name=ApellidoPaterno]').val() + ' ' + $('[name=ApellidoMaterno]').val();
                        var Direccion = $('[name=Colonia]').val() + ' ' + $('[name=Calle]').val() + ' ' + $('[name=NoExterior]').val() + ' ' + $('[name=NoInterior]').val();;
                        var btnEditar = '<button class="btn btn-simple btn-info" data-toggle="modal" data-target="#myModal" onclick="OpenModal(\'@Url.Content("/Clientes/Editar?TempId=")'+idCliente+'\')" rel="tooltip" data-original-title="Editar"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>';
                        var btnContactos = '&nbsp;<button class="btn btn-simple btn-primary" rel="tooltip" data-original-title="Contactos"><i class="fa fa-users" aria-hidden="true"></i> </button>';
                        var btnEliminar='<button class="btn btn-simple btn-danger btn-icon remove" rel="tooltip" data-original-title="Eliminar" onclick="DeleteRegister(\'' + idCliente + '\',\'Deseas eliminar a ' + Nombre + '\',\'@Url.Content("/Clientes/Eliminar")\',\'#clientes\')"><i class="material-icons">close</i></button>';                        
                        var columns = [NumeroTelefonoAlarma, Nombre, Direccion, Telefono, btnEditar + btnContactos + btnEliminar];
                        var TRNode = document.getElementById(idCliente);
                        $('#datatables').dataTable().fnUpdate(columns, TRNode, undefined);
                        swal({
                            title: "Listo!",
                            text: "Se actualizo el cliente",
                            buttonsStyling: false,
                            confirmButtonClass: "btn btn-success",
                            type: "success"
                        });

                    }
                    else {
                        swal({
                            title: "Hubo un error!",
                            text: "error:" + result.Message,
                            buttonsStyling: false,
                            confirmButtonClass: "btn btn-success",
                            type: "error"
                        });
                    }
                }
            });
            return false;
        });
    });
    //onclick="SubmitForm('EditarCliente')"
    /*function SubmitForm(Form) {
        $('form').submit();
    } */
</script>
